@model VentaModel

<form action="/Venta/RegistrarVenta" method="post">
    <div class="form-group">
           <label for="Client">Cliente</label>
           <input type="text" class="form-control" id="Cliente" name="Cliente" placeholder="Cliente"/>
    </div>

</form>
